*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.inner{
    margin: 6% auto;
    height: 700px;
    width: 1200px;
    border: 1px solid #0b3555; 
    box-shadow: 5px 10px #165788
}

.toronto-logo img {
    width: 12%;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}

.cypress-logo img {
    margin-top: 50px;
    margin-left: 50px;
}
.nav hr{
    border: 1px solid #165788;
    width: 91%;
}

.content{
    text-align: left;
}
.content p{
    margin-left: 60px;
    font-size: 30px;
}

.log {
    padding: 70px;
}


.log input[type='submit'],
.log label {
    margin-top: 1rem;
}
