*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.inner{
    margin: 6% auto;
    height: 700px;
    width: 1200px;
    border: 1px solid #0b3555; 
    box-shadow: 5px 10px #165788
}

.toronto-logo img {
    width: 12%;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}

.cypress-logo img {
    margin-top: 50px;
    margin-left: 50px;
}
.nav hr{
    border: 1px solid #165788;
    width: 91%;
}
/*--------------------------------------------------Index Page--------------------------------------------------*/

.header .logo img{
    width: 48%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

.lang-selection p{
    color: black;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.lang-selection a button {
    border-radius: 25px;
    font-weight: 600;
    background-color: #165788; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/*--------------------------------------------------Login Page--------------------------------------------------*/

.log-content p{
    margin-left: 60px;
    font-size: 30px;
}

.log {
    margin-left: 60px;
    margin-top: 60px;
}

.log label {
    font-size: 18px;
}

.log input[type=text],[type=password],[type=submit]{
     border-radius: 20px;
     border: 1px solid #165788;
     color: #000000;
     width: 250px;
     height: 30px;
     padding-left: 10px;
     margin-bottom: 3px;
}

.log-submit input[type=submit], textarea {
    background-color: #165788;
    color: #ffffff;
    font-size: 18px;
}

.log-submit input{
    margin-left: 95px;
}

.log-username,.log-password {
    margin-bottom: 10px;
}

/*--------------------------------------------------Registration Page--------------------------------------------------*/

.reg-content p{
    margin-left: 60px;
    font-size: 22px;
}

.reg-info label {
    font-size: 18px;
}

.reg-content input[type=text],[type=password],[type=submit]{
    border-radius: 20px;
    border: 1px solid #165788;
    color: #000000;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 3px;
}

.reg-info{
    margin-left: 110px;
    margin-top: 40px;
}

.reg-firstname, .reg-lastname, .reg-address, .reg-phonenumber, .reg-email, .reg-username, .reg-password{
    margin-bottom: 10px;
}

.reg-submit input[type=submit], textarea {
    background-color: #165788;
    color: #ffffff;
    font-size: 18px;
}

.reg-submit input{
    margin-left: 95px;
}

/*--------------------------------------------------Portal Page--------------------------------------------------*/

.portal-content p{
    margin-left: 60px;
    font-size: 22px;
}

.portal-info{
    margin-left: 110px;
    margin-top: 40px;
}
.portal-info a{
    text-decoration: none;
}

.portal-info button {
    border-radius: 20px;
    border: 1px solid #165788;
    width: 250px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 3px;
    background-color: #165788;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

/*--------------------------------------------------Report a Problem Page--------------------------------------------------*/

.register-content input[type=text]{
    border-radius: 20px;
    border: 1px solid #165788;
    color: #000000;
    width: 680px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 3px;
}

.register-address {
    margin-left: 170px;
    font-size: 22px;
    margin-top: 90px;
    margin-bottom: 60px;
}

.register-info {
    margin-top: 90px;
    margin-left: 160px;
}

.register-info p{
    margin-bottom: 9px;
    font-size: 18px;
}

.register-info hr{
    border: 1px solid #165788;
    width: 80%;
    margin-left: 0px;
}

.register-info form {
    margin-left: 60px;
}

.register-info label{
    font-size: 18px;
}

.register-info-block-1, .register-info-block-2 {
    float: left;
    margin-top: 10px;
    margin-left: -29px;
}

.register-info-block-2 {
    margin-left: 130px;
}

.register-info-r1,.register-info-r2,.register-info-r3,.register-info-r4,
.register-info-r5,.register-info-r6,.register-info-r7,.register-info-r8 {
    margin-bottom: 20px;
}
